#MyApps
{
    background-color: fuchsia;
    height: 800px;
    width: 100%;
    color: chartreuse;
}
#MyGames
{
    background-color: hotpink;
    height: 800px;
    width: 100%;
    color: deepskyblue;
}
#MyChatbots
{
    background-color: aquamarine;
    height: 800px;
    width: 100%;
    color: dodgerblue;
}